/* home service section start here */

.servicesHome .card {
    cursor: pointer;
}

.servicesHome .card:hover {
    transform: translateY(-10px);
}

.servicesHome .card img {
    max-width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-footer {
    display: flex;
    justify-content: space-around;
}

/* mobile screen style */

@media only screen and (max-width: 600px) {
    .servicesHome {
        padding: 0 18px;
    }
}