/* contact me form start here */

.contact-form {
    background: rgba(230, 228, 231, 0.897);
    padding: 30px 0;
}

.form-label {
    text-align: justify;
    padding-left: 10px;
}

.contact-form .common-btn {
    color: #000;
}

.contact-form .common-btn:hover {
    color: #fff;
}